@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit&family=Mukta&display=swap');

*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 font-family: Josefin, sans-serif;
}
